{%extends "base.html"%}
{%block title%}Confirm Deletion for #{{reservation.pk}}{%endblock%}
{%block content%}
    <h2>Are you sure you want to delete reservation for:</h2>
    <div>
        <ul style="list-style: none; padding: none">
            <li>First Name: {{reservation.first_name}}</li>
            <li>Last Name: {{reservation.last_name}}</li>
            <li>Party Size: {{reservation.party_size}}</li>
            <li>Date: {{reservation.date}}</li>
        </ul>
        <div class="buttons">
            <form method="post" style="margin-top: 20px; display: inline;">
                {%csrf_token%}
                <button type="submit" class="btn btn-danger">Yes</button>
            </form>
            <a
                href="{%url 'reservation_detail' pk=reservation.pk%}" class="btn btn-secondary"
                >No</a
            >
        </div>
    </div>
{%endblock%}
